<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<h2>Слова</h2>




    <button
            style=" background:{{Colors[0][1]}}; color:white; position:absolute;top:75px ;left:150px; width:200px; height:75px">
        {{Words[0]}}
    </button>





    <button 
            style=" background:{{Colors[1][1]}}; color:white; position:absolute;top:150px ;left:150px; width:200px; height:75px">
        {{Words[1]}}
    </button>



    <button 
            style=" background:{{Colors[2][1]}}; color:white; position:absolute;top:225px ;left:150px; width:200px; height:75px">
        {{Words[2]}}
    </button>


    <button
            style=" background:{{Colors[3][1]}}; color:white; position:absolute;top:300px ;left:150px; width:200px; height:75px">
        {{Words[3]}}
    </button>


    <button
            style=" background:{{Colors[4][1]}}; color:white; position:absolute;top:375px ;left:150px; width:200px; height:75px">
        {{Words[4]}}
    </button>


<!--Первый Столбец-->
    <button
            style=" background:{{Colors[5][1]}}; color:white; position:absolute;top:75px ;left:350px; width:200px; height:75px">
        {{Words[5]}}
    </button>


    <button
            style=" background:{{Colors[6][1]}}; color:white; position:absolute;top:150px ;left:350px; width:200px; height:75px">
        {{Words[6]}}
    </button>


    <button
            style=" background:{{Colors[7][1]}}; color:white; position:absolute;top:225px ;left:350px; width:200px; height:75px">
        {{Words[7]}}
    </button>


    <button
            style=" background:{{Colors[8][1]}}; color:white; position:absolute;top:300px ;left:350px; width:200px; height:75px">
        {{Words[8]}}
    </button>


    <button
            style=" background:{{Colors[9][1]}}; color:white; position:absolute;top:375px ;left:350px; width:200px; height:75px">
        {{Words[9]}}
    </button>


<!--Второй Столбец-->

    <button
            style=" background:{{Colors[10][1]}}; color:white; position:absolute;top:75px ;left:550px; width:200px; height:75px">
        {{Words[10]}}
    </button>


    <button
            style=" background:{{Colors[11][1]}}; color:white; position:absolute;top:150px ;left:550px; width:200px; height:75px">
        {{Words[11]}}
    </button>


    <button
            style=" background:{{Colors[12][1]}}; color:white; position:absolute;top:225px ;left:550px; width:200px; height:75px">
        {{Words[12]}}
    </button>


    <button
            style=" background:{{Colors[13][1]}}; color:white; position:absolute;top:300px ;left:550px; width:200px; height:75px">
        {{Words[13]}}
    </button>


    <button
            style=" background:{{Colors[14][1]}}; color:white; position:absolute;top:375px ;left:550px; width:200px; height:75px">
        {{Words[14]}}
    </button>

<!--Третий Столбец-->
    <button
            style=" background:{{Colors[15][1]}}; color:white; position:absolute;top:75px ;left:750px; width:200px; height:75px">
        {{Words[15]}}
    </button>


    <button
            style=" background:{{Colors[16][1]}}; color:white; position:absolute;top:150px ;left:750px; width:200px; height:75px">
        {{Words[16]}}
    </button>


    <button
            style=" background:{{Colors[17][1]}}; color:white; position:absolute;top:225px ;left:750px; width:200px; height:75px">
        {{Words[17]}}
    </button>


    <button
            style=" background:{{Colors[18][1]}}; color:white; position:absolute;top:300px ;left:750px; width:200px; height:75px">
        {{Words[18]}}
    </button>


    <button
            style=" background:{{Colors[19][1]}}; color:white; position:absolute;top:375px ;left:750px; width:200px; height:75px">
        {{Words[19]}}
    </button>

<!--Четвертый Столбец-->
    <button
            style=" background:{{Colors[20][1]}}; color:white; position:absolute;top:75px ;left:950px; width:200px; height:75px">
        {{Words[20]}}
    </button>


    <button
            style=" background:{{Colors[21][1]}}; color:white; position:absolute;top:150px ;left:950px; width:200px; height:75px">
        {{Words[21]}}
    </button>


    <button
            style=" background:{{Colors[22][1]}}; color:white; position:absolute;top:225px ;left:950px; width:200px; height:75px">
        {{Words[22]}}
    </button>


    <button
            style=" background:{{Colors[23][1]}}; color:white; position:absolute;top:300px ;left:950px; width:200px; height:75px">
        {{Words[23]}}
    </button>


    <button
            style=" background:{{Colors[24][1]}}; color:white; position:absolute;top:375px ;left:950px; width:200px; height:75px">
        {{Words[24]}}
    </button>

<!--Пятый Столбец-->


</body>
</html>